{% extends 'base.html.twig' %}

{% block title %}Tous Les Formations{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Formation du {{ formation.titre }}</h2>
        <p>Bienvenue a nôtre formation </p>
    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8">

                <h3>Formation du {{ formation.titre }}</h3>
                <p>
                    Formation du {{ formation.description}} </p>
            </div>
            <div class="col-lg-4">

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Formateur</h5>
                    <p><a href="#">{{ user.prenom }}</a></p>
                </div>

                <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Frais de cours</h5>
                    <p>Gratuit</p>
                </div>

                <br>
                <div  align="center" class="another">
                    {% if  formation.note is null%}
                    {% else %}
                        {% for i in 0..formation.note-1 %}
                            {% if i<= 5 %}
                                <i class="fas fa-star" ></i>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section><!-- End Cource Details Section -->

<!-- ======= Cource Details Tabs Section ======= -->
<section id="cource-details-tabs" class="cource-details-tabs">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    {% for slide in slides %}
                        {% if slide.textSlide is empty and slide.videoSlide is empty %}
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#{{slide.imageSlide|replace({'.': ''})}}">{{slide.imageSlide}}</a>
                    </li>
                        {% elseif slide.imageSlide is empty and slide.videoSlide is empty %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#{{slide.textSlide|replace({'.': ''})}}">{{slide.textSlide}}</a>
                    </li>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#{{slide.videoSlide|replace({'.': ''})}}">{{slide.videoSlide}}</a>
                    </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>


            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    {% for slide in slides %}
                    {% if slide.textSlide is empty and slide.videoSlide is empty %}
                    <div class="tab-pane  show" id='{{slide.imageSlide|replace({'.': ''})}}'>
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                            <div>
                                {{ include('formation/image.html.twig') }}
                            </div>
                               </div>
                        </div>
                    </div>
                        {% elseif slide.imageSlide is empty and slide.videoSlide is empty %}
                            <div class="tab-pane  show " id='{{slide.textSlide|replace({'.': ''})}}'>
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <div>
                                        {{ include('formation/pdf.html.twig') }}
                                        </div>
                                         </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-pane  show" id='{{slide.videoSlide|replace({'.': ''})}}'>
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <div>
                                        {{ include('formation/video.html.twig') }}
                                    </div>
                                       </div>
                                </div>
                            </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section><!-- End Cource Details Tabs Section -->
{% endblock %}