<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></head>
<body>
<h1 style="margin-top: 150px"></h1>
<div class="card img-fluid" style="margin-left: 50px;margin-right: 50px;margin-bottom: 100px">
    <img class="card-img-top" src="{{ app.request.schemeAndHttpHost ~ '/img/certificat.jpg' }}" style="width:100%">
    <div class="card-img-overlay">
        <h1 class="card-title text-center" style="margin-top: 185px">{{ app.user.prenom|upper }}  {{ app.user.nom|upper }}</h1>
        <h4 class="card-text text-center" style="margin-top: 60px;color: #D75404;">{{ test.sujet }}</h4>
        <h4 class="card-text text-right" style="margin-top: 65px;margin-right: 120px;">{{ test.idFormateur.nom|upper}}  {{ test.idFormateur.prenom|upper}}</h4>
    </div>
</div>
</body>
</html>